body {
  background-color: rgb(0, 0, 0);
}
#right {
  width: 40%;
  float: right;
  background-color: rgb(37, 37, 128);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: rgb(240, 226, 226);
  padding: 5%;
}
#left {
  width: 45%;
  float: left;
  background-color: rgb(196, 181, 181);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 5%;
}
#outer {
  display: flex;
  border: solid rgb(235, 17, 17) 4px;
  margin: 1%;
  border-radius: 30px;
  overflow: hidden;
}
hr {
  margin-right: 50%;
}
img {
  width: 50%;
  border-radius: 50%;
  border: solid white 0.5em;
}
h4 {
  font-size: 3em;
}
h1,
h2 {
  font-size: 2em;
}

p,
h1,
h2,
h3,
h4,
li {
  font-family: "Times New Roman", Times, serif;
}